
<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h4>Templates</h4>
    </mat-card-header>
    <mat-card-content>
        <mat-horizontal-stepper #stepper [linear]="true">

          <mat-step label="Samples">
      
              <div class="row" >
                <h5 class="mb-1 text-center">Click to download the checklist and sample template layouts..</h5>
             
                  <div class="col-lg-12 col-md-12">

         
                    <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <a href="assets/templates/checklist.docx" download>
                          <mat-card  class="single-stats-box tagus-card mb-25">
                              <div class="d-flex justify-content-space-between align-items-center">
                                <mat-card-content class="d-flex align-items-center justify-content-center">
                     
                                  <img src="assets/templates/experience.png" alt="Download Image" style="width: 25px; height: 30px;">
                                
                              </mat-card-content>
                                  <div class="title text-end">
                                      <h5 class="">Checklist</h5>
                  <!--                    <span class="d-block gray-color">Check Ticket</span>-->

                                  </div>
                              </div>
                           
                          </mat-card>
                  </a>
                      </div>
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <a href="assets/templates/pastal.zip" download>
                          <mat-card  class="single-stats-box tagus-card mb-25">
                              <div class="d-flex justify-content-space-center align-items-center">
                                <mat-card-content class="d-flex align-items-center justify-content-center">
                     
                                  <img src="assets/templates/pastal.png" alt="Download Image" style="width: 80px; height: 30px;">
                                
                              </mat-card-content>
                                  
                              </div>
                           
                          </mat-card>
                  </a>
                      </div>
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <a href="assets/templates/qb.zip" download>
                          <mat-card  class="single-stats-box tagus-card mb-25">
                              <div class="d-flex justify-content-space-between align-items-center">
                                <mat-card-content class="d-flex align-items-center justify-content-center">
                     
                                  <img src="assets/templates/qbb.png" alt="Download Image" style="width: 100px; height: 30px;">
                                
                              </mat-card-content>
                                  
                              </div>
                           
                          </mat-card>
                  </a>
                      </div>
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <a href="assets/templates/zoho.zip" download>
                          <mat-card  class="single-stats-box tagus-card mb-25">
                              <div class="d-flex justify-content-center align-items-center">
                                <mat-card-content class="d-flex align-items-center justify-content-center">
                     
                                  <img src="assets/templates/zoho.png" alt="Download Image" style="width: 80px; height: 30px;">
                                
                              </mat-card-content>
                                 
                              </div>
                           
                          </mat-card>
                  </a>
                      </div>

                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <a href="assets/templates/excel.zip" download>
                          <mat-card  class="single-stats-box tagus-card mb-25">
                              <div class="d-flex justify-content-space-center align-items-center">
                                <mat-card-content class="d-flex align-items-center justify-content-center">
                     
                                  <img src="assets/templates/excell.png" alt="Download Image" style="width: 80px; height: 30px;">
                                
                              </mat-card-content>
                                  
                                
                              </div>
                           
                          </mat-card>
                  </a>
                      </div>
                  
                  </div>
                    
       
                  <div class="row">

                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <a href="assets/templates/others_inclusive.zip" download>
                        <mat-card  class="single-stats-box tagus-card mb-25">
                            <div class="d-flex justify-content-space-between align-items-center">
                              <mat-card-content class="d-flex align-items-center justify-content-center">
                   
                                <img src="assets/templates/others.png" alt="" style="width: 45px; height: 45px; border-radius: 5px;">
                              
                            </mat-card-content>
                                <div class="title text-center">
                                    <h5 class="">Other Systems</h5>
                <!--                    <span class="d-block gray-color">Check Ticket</span>-->

                                </div>
                              
                            </div>
                         
                        </mat-card>
                </a>
                    </div>
                  
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <a href="assets/templates/others_inclusive.zip" download>
                        <mat-card  class="single-stats-box tagus-card mb-25">
                            <div class="d-flex justify-content-center align-items-center">
                              <mat-card-content class="d-flex align-items-center justify-content-center">
                   
                                <img src="assets/templates/odoo.png" alt="Download Image" style="width: 80px; height: 45px; border-radius: 5px;">
                              
                            </mat-card-content>
                              
                            </div>
                         
                        </mat-card>
                </a>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <a href="assets/templates/sage-evolution.zip" download>
                        <mat-card  class="single-stats-box tagus-card mb-25">
                            <div class="d-flex justify-content-center align-items-center">
                              <mat-card-content class="d-flex align-items-center justify-content-center">
                   
                                <img src="assets/templates/sage-evolution.png" alt="Download Image" style="width: 100px; height: 45px; border-radius: 5px; ">
                              
                            </mat-card-content>
                               
                            </div>
                         
                        </mat-card>
                </a>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <a href="assets/templates/others_inclusive.zip" download>
                        <mat-card  class="single-stats-box tagus-card mb-25">
                            <div class="d-flex justify-content-center align-items-center">
                              <mat-card-content class="d-flex align-items-center justify-content-center">
                   
                                <img src="assets/templates/sap.png" alt="Download Image" style="width: 80px; height: 40px; border-radius: 5px; ">
                              
                            </mat-card-content>
                               
                            </div>
                         
                        </mat-card>
                </a>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <a href="assets/templates/palladium.zip" download>
                        <mat-card  class="single-stats-box tagus-card mb-25">
                            <div class="d-flex justify-content-center align-items-center">
                              <mat-card-content class="d-flex align-items-center justify-content-center">
                   
                                <img src="assets/templates/palladium .png" alt="Download Image" style="width: 80px; height: 40px; border-radius: 5px; ">
                              
                            </mat-card-content>
                               
                            </div>
                         
                        </mat-card>
                </a>
                    </div>

                
                
                </div>
                  
                          
                                          
                    
                  </div>




                  <button [disabled]="" mat-flat-button matStepperNext class="tagus ms-5 mt-20" >Next</button>

              </div>


              

<!--                <button [disabled]="!capturedFields.creditNote" mat-flat-button matStepperNext class="tagus ms-5 mt-20">Next</button>-->

        </mat-step>

            <mat-step [completed]="false" label="Invoice">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <mat-card class="mb-25 tagus-card">
                            <mat-card-header>
                                <h5 class="mb-0">Invoice File Uploader <br/>Insert 1 usd/zig invoice</h5>
                                <mat-checkbox class="mt-0 "  [(ngModel)]="invoiceNumberPos" >Invoice Number Format <br/> (Select if "Doc No" and the actual # are not in the same line)</mat-checkbox>
                                <p class="ms-10">Doc No.<br/>INV00233</p>

                            

                            </mat-card-header>
                          
                                                         <mat-card-content>
                              
                     
                                    <ngx-dropzone (change)="onFileSelected($event, 'invoice')" [disabled]="loading">
                                        <ngx-dropzone-label class="fw-semibold">Drop PDF files here or click to upload.<br/> N.B Upload an invoice that has the first line with a vatable product</ngx-dropzone-label>
                                        
                                        <ngx-dropzone-preview *ngFor="let f of invoiceFiles" multiple="false" [removable]="true" (removed)="onRemove(f, 'invoice')">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                <mat-progress-bar class="mt-10" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <button  mat-flat-button matStepperPrevious class="tagus ms-5 mt-20" >Back</button>

                                             <button [disabled]="!capturedFields.invoice" mat-flat-button matStepperNext class="tagus ms-5 mt-20" (click)="setCompleteStatus(stepper)">Next</button>

            </mat-step>
            <mat-step [completed]="false" label="Credit Note">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <mat-card class="mb-25 tagu
                        s-card">
                            <mat-card-header>
                                <h5 class="mb-0">Credit Note File Uploader<br/>Insert 1 usd/zig credit note</h5>
                                <mat-checkbox class="mt-0"   [(ngModel)]="invoiceNumberPos" >Credit Number Format <br/> (Select if "Credit No." and the actual # are not in the same line)</mat-checkbox>
                                <p class="ms-10">Credit No.<br/>CR00233</p>

                            </mat-card-header>
                            <mat-card-content>
                                <ngx-dropzone (change)="onFileSelected($event, 'creditNote')" [disabled]="loading">
                                  <ngx-dropzone-label class="fw-semibold">Drop PDF files here or click to upload.<br/> N.B Upload an invoice that has the first line with a vatable product</ngx-dropzone-label>

                                    <ngx-dropzone-preview *ngFor="let f of creditNoteFiles" multiple="false" [removable]="true" (removed)="onRemove(f, 'creditNote')">
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                                <mat-progress-bar class="mt-10" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <button [disabled]="!capturedFields.creditNote" mat-flat-button matStepperNext class="tagus ms-5 mt-20" (click)="setCompleteStatus(stepper)">Next</button>

            </mat-step>

            <mat-step label="File Download">
                <div class="row" *ngIf="isInvoiceValid && isCreditNoteValid">
                    <div class="col-lg-12 col-md-12">
                      <p [style.color]="(isInvoiceValid && isCreditNoteValid) ? 'green' : 'red'">
                        <b>
                          <ng-container *ngFor="let message of invoiceValidationMessage">
                            {{ message }}<br>
                          </ng-container>
                        </b>
                      </p>          
                      <p [style.color]="(isCreditNoteValid&& isCreditNoteValid) ? 'green' : 'red'">
                        <b>
                          <ng-container *ngFor="let message of creditNoteValidationMessage">
                            {{ message }}<br>
                          </ng-container>
                        </b>
                      </p>          
                      <mat-card class="mb-25 tagus-card">
                        
                        <mat-card-header>
                          <h5 class="mb-0">Download Settings.ini File</h5>
                        </mat-card-header>
                        <mat-card-content>
                          <button mat-flat-button class="tagus text-bg-success" (click)="generateTextFile()">Download</button>
                  
                          <mat-progress-bar class="mt-10" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                  <div class="row" *ngIf="!isInvoiceValid || !isCreditNoteValid">
                    <h5 class="mb-1 text-center">Your templates are not valid because of the following..</h5>
                    <div class="col-lg-6 col-md-6">
                      <mat-card class="mb-25 tagus-card">
                        <mat-card-header>
                          <h5 class="mt-0">Invoice</h5>
                        </mat-card-header>
                        <mat-card-content>
                            <p [style.color]="isInvoiceValid ? 'green' : 'red'">
                                <b>
                                  <ng-container *ngFor="let message of invoiceValidationMessage">
                                    {{ message }}<br>
                                  </ng-container>
                                </b>
                              </p>                                   
                          <mat-progress-bar class="mt-10" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <mat-card class="mb-25 tagus-card">
                          <mat-card-header>
                            <h5 class="mtx-0">Credit Note</h5>
                          </mat-card-header>
                          <mat-card-content>
                            <p [style.color]="isCreditNoteValid ? 'green' : 'red'">
                                <b>
                                  <ng-container *ngFor="let creditNoteMessage of creditNoteValidationMessage">
                                    {{ creditNoteMessage }}<br>
                                  </ng-container>
                                </b>
                              </p>                                     
                            <mat-progress-bar class="mt-10" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                          </mat-card-content>
                        </mat-card>
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <h5 class="mtx-0 text-center">Click to download the checklist and sample templates</h5>

                        <div class="col-lg-12 col-md-12">

         
                          <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                              <a href="assets/templates/checklist.docx" download>
                                <mat-card  class="single-stats-box tagus-card mb-25">
                                    <div class="d-flex justify-content-space-between align-items-center">
                                      <mat-card-content class="d-flex align-items-center justify-content-center">
                           
                                        <img src="assets/templates/experience.png" alt="Download Image" style="width: 25px; height: 30px;">
                                      
                                    </mat-card-content>
                                        <div class="title text-end">
                                            <h5 class="">Checklist</h5>
                        <!--                    <span class="d-block gray-color">Check Ticket</span>-->
      
                                        </div>
                                    </div>
                                 
                                </mat-card>
                        </a>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                              <a href="assets/templates/pastal.zip" download>
                                <mat-card  class="single-stats-box tagus-card mb-25">
                                    <div class="d-flex justify-content-space-center align-items-center">
                                      <mat-card-content class="d-flex align-items-center justify-content-center">
                           
                                        <img src="assets/templates/pastal.png" alt="Download Image" style="width: 80px; height: 30px;">
                                      
                                    </mat-card-content>
                                        
                                    </div>
                                 
                                </mat-card>
                        </a>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                              <a href="assets/templates/qb.zip" download>
                                <mat-card  class="single-stats-box tagus-card mb-25">
                                    <div class="d-flex justify-content-space-between align-items-center">
                                      <mat-card-content class="d-flex align-items-center justify-content-center">
                           
                                        <img src="assets/templates/qbb.png" alt="Download Image" style="width: 100px; height: 30px;">
                                      
                                    </mat-card-content>
                                        
                                    </div>
                                 
                                </mat-card>
                        </a>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                              <a href="assets/templates/zoho.zip" download>
                                <mat-card  class="single-stats-box tagus-card mb-25">
                                    <div class="d-flex justify-content-center align-items-center">
                                      <mat-card-content class="d-flex align-items-center justify-content-center">
                           
                                        <img src="assets/templates/zoho.png" alt="Download Image" style="width: 80px; height: 30px;">
                                      
                                    </mat-card-content>
                                       
                                    </div>
                                 
                                </mat-card>
                        </a>
                            </div>
      
                            <div class="col-sm-2 col-md-2 col-lg-2">
                              <a href="assets/templates/excel.zip" download>
                                <mat-card  class="single-stats-box tagus-card mb-25">
                                    <div class="d-flex justify-content-space-center align-items-center">
                                      <mat-card-content class="d-flex align-items-center justify-content-center">
                           
                                        <img src="assets/templates/excell.png" alt="Download Image" style="width: 80px; height: 30px;">
                                      
                                    </mat-card-content>
                                        
                                      
                                    </div>
                                 
                                </mat-card>
                        </a>
                            </div>
                        
                        </div>
                          
             
                        <div class="row">
      
                          <div class="col-sm-3 col-md-3 col-lg-3">
                            <a href="assets/templates/others_inclusive.zip" download>
                              <mat-card  class="single-stats-box tagus-card mb-25">
                                  <div class="d-flex justify-content-space-between align-items-center">
                                    <mat-card-content class="d-flex align-items-center justify-content-center">
                         
                                      <img src="assets/templates/others.png" alt="" style="width: 45px; height: 45px; border-radius: 5px;">
                                    
                                  </mat-card-content>
                                      <div class="title text-center">
                                          <h5 class="">Other Systems</h5>
                      <!--                    <span class="d-block gray-color">Check Ticket</span>-->
      
                                      </div>
                                    
                                  </div>
                               
                              </mat-card>
                      </a>
                          </div>
                        
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <a href="assets/templates/others_inclusive.zip" download>
                              <mat-card  class="single-stats-box tagus-card mb-25">
                                  <div class="d-flex justify-content-center align-items-center">
                                    <mat-card-content class="d-flex align-items-center justify-content-center">
                         
                                      <img src="assets/templates/odoo.png" alt="Download Image" style="width: 80px; height: 45px; border-radius: 5px;">
                                    
                                  </mat-card-content>
                                    
                                  </div>
                               
                              </mat-card>
                      </a>
                          </div>
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <a href="assets/templates/sage-evolution.zip" download>
                              <mat-card  class="single-stats-box tagus-card mb-25">
                                  <div class="d-flex justify-content-center align-items-center">
                                    <mat-card-content class="d-flex align-items-center justify-content-center">
                         
                                      <img src="assets/templates/sage-evolution.png" alt="Download Image" style="width: 100px; height: 45px; border-radius: 5px; ">
                                    
                                  </mat-card-content>
                                     
                                  </div>
                               
                              </mat-card>
                      </a>
                          </div>
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <a href="assets/templates/others_inclusive.zip" download>
                              <mat-card  class="single-stats-box tagus-card mb-25">
                                  <div class="d-flex justify-content-center align-items-center">
                                    <mat-card-content class="d-flex align-items-center justify-content-center">
                         
                                      <img src="assets/templates/sap.png" alt="Download Image" style="width: 80px; height: 40px; border-radius: 5px; ">
                                    
                                  </mat-card-content>
                                     
                                  </div>
                               
                              </mat-card>
                      </a>
                          </div>
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <a href="assets/templates/palladium.zip" download>
                              <mat-card  class="single-stats-box tagus-card mb-25">
                                  <div class="d-flex justify-content-center align-items-center">
                                    <mat-card-content class="d-flex align-items-center justify-content-center">
                         
                                      <img src="assets/templates/palladium .png" alt="Download Image" style="width: 80px; height: 40px; border-radius: 5px; ">
                                    
                                  </mat-card-content>
                                     
                                  </div>
                               
                              </mat-card>
                      </a>
                          </div>
      
                      
                      
                      </div>
                        
                                
                                                
                          
                        </div>
      
      
                      
                              
                                              
                        
                      </div>




                      <button mat-flat-button class="tagus text-bg-success" (click)="refresh()">Try Again.</button>

                  </div>


                  
                  
<!--                <button [disabled]="!capturedFields.creditNote" mat-flat-button matStepperNext class="tagus ms-5 mt-20">Next</button>-->

            </mat-step>

        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>
