<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="tagus-form-group">
      <label class="d-block mb-12 fw-semibold gray-color"
      >Province</label>
      <mat-form-field appearance="fill">
        <mat-label>Select Province</mat-label>
        <mat-select (selectionChange)="onProvinceChange($event.value)">
          <mat-option value="">-- Select Province --</mat-option>
          <mat-option *ngFor="let province of provinces" [value]="province.name"
            >{{ province.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="tagus-form-group">
      <label class="d-block mb-12 fw-semibold gray-color"
      >City</label>
      <mat-form-field appearance="fill">
        <mat-label>Select City</mat-label>
        <mat-select
          [disabled]="!filteredCities.length"
          (selectionChange)="onCityChange($event.value)">
          <mat-option value="">-- Select City --</mat-option>
          <mat-option *ngFor="let city of filteredCities" [value]="city"
            >{{ city }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
